
.flip-card {
    position: relative;
    width: 615px;
    height: 260px;
  
}

.flip-card__front {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
   
  }

  .flip-card__front__container {
    display: flex;
    align-items: center;
    height: 80px;
  }

  .flip-card__front__text {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 80px;
    background-color: #2D3653;
    opacity: 60%;
    color: white;
    bottom: 0;
}

.flip-card__front p {
  z-index: 1;
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
  margin-left: 20px;
  color: #FFFFFF;

}
  
  .flip-card__back {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: 0.5s;
  }
  .flip-card__back__container {
    position: absolute;
    display: none;
    width: 100%;
    transition: 0.5s;
  }

.flip-card__back__title {
  display: block;
  margin-top: 30px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  margin-left: 30px;
  }
.flip-card__back__text {
  color: white;
  margin-top: 44px;
  font-size: 17px;
  font-weight: 400;
  margin-left: 30px;
  }

.flip-card:hover  .flip-card__back {
  opacity: 1;
  z-index: 2;
  filter: brightness(50%)
}

.flip-card:hover  .flip-card__back__container {
  display: block;
  z-index: 3;
}

