.preview{
    display: flex;
    flex-direction: column;
    width: 1110px;
    height: 211px;
    margin-top: 163px;
    gap: 30px;
}

.preview span{
    font-family: Proxima Nova Condensed;
    font-size: 56px;
    font-weight: 700;
    color: #B01736;
    text-align: center;
}

.preview p{
    font-family: Proxima Nova Condensed;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
}





